<?xml version='1.0' encoding='utf-8' ?>
<widget id='net.arcns.taihen_games' version='0.1.0' xmlns='http://www.w3.org/ns/widgets' xmlns:cdv='http://cordova.apache.org/ns/1.0'>
  <name>TaiHen Games</name>
  <description>TaiHen Team galery games !</description>
  <author email='othelarian@hotmail.fr' href='http://www.arcns.net'>TaiHen Team</author>
  <content src='index.html' />
  <plugin name='cordova-plugin-whitelist' spec='1' />
  <platform name='android'>
    <icon src='../mobile/logo_36x36.png' density='ldpi' />
    <icon src='../mobile/logo_48x48.png' density='mdpi' />
    <icon src='../mobile/logo_72x72.png' density='hdpi' />
    <icon src='../mobile/logo_96x96.png' density='xhdpi' />
    <icon src='../mobile/logo_144x144.png' density='xxhdpi' />
    <preference name='android-minSdkVersion' value='15' />
  </platform>
</widget>
